#!/bin/sh

## MANAGED BY ANSIBLE ##

S3_PATH="s3://{{ airflow_s3_connections_folder }}"

echo "Downloading connections from $S3_PATH"
aws s3 cp $S3_PATH {{ airflow_connections_folder }} --recursive

for con in `find {{ airflow_connections_folder }} -type f -name "*.json"`; do
    /usr/local/bin/airflow-add-connection.sh $con
done
