#!/bin/sh

FILE=$1

if [ ! -e $FILE ] ; then
        echo "$FILE does not exists."
        exit 1
fi

BASENAME=`basename $1 | sed s/\.json//`

CONNECTION_TYPE=`echo $BASENAME | egrep -o '^[^_]+'`

if [ -z $CONNECTION_TYPE ]; then
        echo "Could not figure connection type. It should be 1 word before the first '_'"
        exit 1
fi

CONNECTION_NAME=`echo $BASENAME`

if [ -z $CONNECTION_NAME ]; then
        echo "Could not figure connection name. It should be the remaining words after the first '_'"
        exit 1
fi

echo "Creating connection $CONNECTION_NAME with type $CONNECTION_TYPE"

JSON_ONE_LINE=`cat $FILE | sed 's/"/\\"/g' | tr '\n' ''`

airflow connections -d --conn_id $CONNECTION_NAME 2>/dev/null

if [ $? -gt 0 ]; then
        echo "WARNING: Deleting connection $CONNECTION_NAME failed. It may be that it did not exist yet."
fi

airflow connections -a --conn_id $CONNECTION_NAME --conn_type $CONNECTION_TYPE --conn_extra "$JSON_ONE_LINE"
