#!/bin/sh

## MANAGED BY ANSIBLE ##

S3_PATH="s3://ophan-dist/ophan-data-lake/PROD/airflow-assets/connections/*"

aws s3 cp $S3_PATH {{ airflow_connections_folder }}

for con in `find {{ airflow_connections_folder }} -type f -name "*.json"`; do
    /usr/local/bin/airflow-add-connection.sh $con
done
