[Unit]
Description=Airflow connections update
Requires=network.target
After=network.target
BindsTo=airflow-mutex.service
After=airflow-mutex.service

[Service]
EnvironmentFile={{ airflow_environment_file_folder }}/airflow
User={{ airflow_user }}
Group={{ airflow_group }}
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/airflow-install-ophan-python.sh

[Install]
WantedBy=multi-user.target
