logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
amigo.iml

Brewfile.lock.json

roles/*.log
roles/.vagrant

.metals
.vscode
.bloop
project/metals.sbt
project/project
.bsp
