[Unit]
Description=AMIgo

[Service]
User=amigo
Restart=no
Environment='HOME=/home/amigo'
Environment='PACKER_HOME=/opt/packer'
Environment='JAVA_OPTS=-Xmx512m -Xms512m -XX:+UseConcMarkSweepGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/home/amigo/logs/gc.log -XX:ReservedCodeCacheSize=128m'
WorkingDirectory=/home/amigo/amigo
ExecStart=/home/amigo/amigo/bin/amigo

[Install]
WantedBy=multi-user.target
