[Unit]
Description=Wazuh agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking

ExecStartPre=/usr/local/bin/authenticate-with-wazuh-manager.sh
ExecStart=/usr/bin/env /var/ossec/bin/wazuh-control start
ExecStop=/usr/bin/env /var/ossec/bin/wazuh-control stop
ExecReload=/usr/bin/env /var/ossec/bin/wazuh-control reload

Restart=on-failure
RestartSec=300s

KillMode=none
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target