body { padding-top: 70px; }

.hola {
    padding: 40px 15px;
    text-align: center;
}

.sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 60px;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

.well {
    background-color: #15191F; /* iTerm2's default theme */
    overflow-y: scroll;
    max-height: 400px; /* This gets updated to match the screen size using JS */
    color: #DCDCDC; /* iTerm2's default theme */
}

.package-diff-insert {
    color: #EFF6FC;
    background: #0A6C36;
    text-decoration: underline;
}

.package-diff-delete {
    color: #EFF6FC;
    background: #90252A;
    text-decoration: line-through;
}

.package-list {
    white-space: nowrap;
}

.btn--success:after {
    content: 'Successful';
    display: inline-block;
}

.bake--info {
    display: flex;
    justify-content: flex-start;
    align-items: left;
}

.bake--info--title {
    width: 5em;
}

.bake--info:after, .bake--info:before {
    display: none;
}

.bake--info span {
    margin-top: auto;
    margin-bottom: auto;
}

.bake--info--right {
    margin-left: auto;
}

.block-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
    text-decoration: none;
    color: inherit;
}

.table>tbody>tr>td.has-block-link {
    padding: 0;
}

.absolute-container {
    position: relative;
}

.absolute-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.recipe-usage img {
    vertical-align: sub;
}

.recipe-usage span {
    margin-right: 4px;
}

td.recipe-usage {
    white-space: nowrap;
}

.role-usage {
    margin-top: 34px;
}

.end-of-life {
    background: repeating-linear-gradient(45deg, #fcd7d7, #fcd7d7 10px, #dddddd 10px, #dddddd 20px)
}

.end-of-life-soon {
    background: repeating-linear-gradient(45deg, #ffd9b3,  #ffd9b3 10px, #dddddd 10px, #dddddd 20px)
}
