body { padding-top: 70px; }

.hola {
    padding: 40px 15px;
    text-align: center;
}

.sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 60px;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}