#!/bin/sh

## MANAGED BY ANSIBLE ##

echo  "SCHEDULER MUTEX running"
echo  -- "$@"

REGION=$1
ASG_NAME=$2
STAGE=$3

if [ -z $REGION ]; then
	echo  "Please specify a region"
	exit 1
fi

if [ -z $ASG_NAME ]; then
	echo  "Please specify the name of the autoscaling group"
	exit 1
fi

if [ -z "$STAGE" ]; then
	echo  "Please specify the Stage "
	exit 1
fi

ASG_COUNT="/usr/local/sbin/autoscaling-ensure-one-instance.sh $REGION $ASG_NAME $STAGE"

LOOP=0
MAX=20

while [ $LOOP -le $MAX ]; do
	 sh $ASG_COUNT

	if [ $? -eq 0 ]; then
		echo "$ASG_NAME has 1 instance."
		exit 0
	fi

	echo "$ASG_NAME has more than 1 instance. Sleeping 30 seconds..."
	sleep 30

	LOOP=`expr $LOOP + 1`
done
