#!/bin/sh

## MANAGED BY ANSIBLE ##
echo "RUNNING ENSURE ONE INSTANCE"
echo -- “$@”
REGION=$1
LOGICAL_ID=$2
STAGE=$3

if [ -z "$REGION" ]; then
	echo  "Please specify a region"
	exit 1
fi

if [ -z "$LOGICAL_ID" ]; then
	echo  "Please specify the logical id of the application"
	exit 1
fi

if [ -z "$STAGE" ]; then
	echo  "Please specify the Stage "
	exit 1
fi


COUNT=$(aws ec2 describe-instances --region $REGION \
    --filters Name=instance-state-code,Values=16,32 \
    Name=tag:Stack,Values=ophan-data-lake \
    Name=tag:Stage,Values=$STAGE \
    Name=tag:aws:cloudformation:logical-id,Values=$LOGICAL_ID \
    | jq '.Reservations | length')

echo "count for $STAGE was $COUNT"

exit `expr $COUNT - 1`
