#!/usr/bin/env bash
set -e

{# Coerce to list #}
{% set prefixes = [ssh_keys_prefix] if ssh_keys_prefix is string else ssh_keys_prefix %}

{% for prefix in prefixes %}
    aws s3 cp s3://{{ssh_keys_bucket}}/{{prefix}}/authorized_keys /tmp/authorized_keys.{{prefix}}
    cat /tmp/authorized_keys.{{prefix}} > /tmp/authorized_keys
{% endfor %}

install -m 600 -o {{ssh_user}} /tmp/authorized_keys /home/{{ssh_user}}/.ssh/authorized_keys
