[Unit]
Description=Teamcity Agent
Requires=network.target
After=network.target

[Service]
ExecStart=/bin/bash -c "source /opt/teamcity/.nvm/nvm.sh && /opt/teamcity/buildAgent/bin/agent.sh start"
ExecStop=/opt/teamcity/buildAgent/bin/agent.sh stop
ExecStartPre=/bin/bash -c "aws s3 sync s3://teamcity-ivy-cache/ /opt/teamcity/.ivy2/cache/"
ExecStartPre=/bin/bash -c "aws s3 sync s3://teamcity-ivy-cache/ /opt/teamcity/buildAgent/system/sbt_ivy/cache/"
ExecStartPre=/bin/bash -c "aws s3 sync s3://teamcity-sbt-cache/ /opt/teamcity/.sbt/"
User=teamcity
WorkingDirectory=/opt/teamcity
Type=forking
PIDFile=/opt/teamcity/buildAgent/logs/buildAgent.pid
RemainAfterExit=yes

# agent will exit with 143 during upgrade process
SuccessExitStatus=143 0

[Install]
WantedBy=multi-user.target
