@(roles: Iterable[(CustomisedRole, Dependency)])

<ul class="list-group">
  @for((role, deps) <- roles) {
    <li class="list-group-item">
      <div>
        <a href="@routes.RoleController.listRoles#@role.roleId">@role.roleId</a>

        @if(role.variables.isEmpty) {
          <em>(No custom variables)</em>
        } else {
          <code>@role.variablesToString</code>
        }
      </div>
      @if(deps.dependencies.nonEmpty) {
        <div>
          Depends on:
          @views.html.fragments.dependencyList(deps.dependencies)
        </div>
      }
    </li>
  }
</ul>
