---
- name: Ensure a Node version variable is provided
  fail: 
    msg: "node_major_version (or node_full_version) must be set"
  when: node_major_version is undefined and node_full_version is undefined

- name: Get latest patch version for major version
  uri:
    url: "https://nodejs.org/dist/latest-v{{ node_major_version }}.x/SHASUMS256.txt"
    return_content: yes
    status_code: 200
  register: shasums_file
  when: node_major_version is defined and node_full_version is undefined

- name: Extract full version from SHASUMS256.txt
  set_fact:
    node_full_version: "{{ (shasums_file.content | regex_search('node-v([0-9]+\\.[0-9]+\\.[0-9]+)', '\\1'))[0] }}"
  when: node_major_version is defined and node_full_version is undefined

- name: Download & extract Node.js (from nodejs.org)
  unarchive:
    src: "https://nodejs.org/dist/v{{ node_full_version }}/node-v{{ node_full_version }}-linux-{{ architecture }}.tar.gz"
    dest: /usr/local
    remote_src: yes
    list_files: yes
    mode: u=rwx,g=rx,o=rx
  when: node_full_version is defined
  register: archive_contents

- name: Store node path
  set_fact:
    node_location: "/usr/local/{{ archive_contents.files[0] }}bin"
  when: node_full_version is defined

- name: Add node symlink in /usr/bin
  file:
    src: "{{ node_location }}/node"
    dest: /usr/bin/node
    state: link
    force: yes
    mode: u=rwx,g=rx,o=rx
  when: node_full_version is defined

- name: Add consistent symlink to node binaries
  file:
    src: "{{ node_location }}"
    dest: /usr/local/node
    state: link
    force: yes
    mode: u=rwx,g=rx,o=rx
  when: node_full_version is defined

- name: Install npm packages
  npm:
    name: "{{ item }}"
    global: yes
  with_items: "{{ packages|default([]) }}"
  environment:
    PATH: "/usr/local/node:{{ ansible_env.PATH | default('/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin') }}"
  when: packages is defined and node_full_version is defined