---
- name: Ensure a Node version variable is provided
  fail: 
    msg: "node_major_version (or node_full_version) must be set"
  when: node_major_version is undefined and node_full_version is undefined

- name: Get SHASUMS256.txt for latest major version (from nodejs.org)
  uri:
    url: "https://nodejs.org/dist/latest-v{{node_major_version}}.x/SHASUMS256.txt"
    return_content: yes
    status_code: 200
  register: shasums_file
  when: node_major_version is defined and node_full_version is undefined

- name: Extract latest full version from SHASUMS256.txt
  set_fact:
    latest_version: "{{ (shasums_file.content | regex_search('node-v([0-9]+\\.[0-9]+\\.[0-9]+)', '\\1') | default([''], true))[0] }}"
  when: node_major_version is defined and node_full_version is undefined

- name: Fail if latest version was not found
  fail:
    msg: "Could not find Node.js version for major version {{ node_major_version }}. Check if v{{ node_major_version }}.x exists at nodejs.org"
  when: node_major_version is defined and node_full_version is undefined and (latest_version is undefined or latest_version == '')

- name: Set node_full_version from major version
  set_fact:
    node_full_version: "{{ latest_version }}"
  when: node_major_version is defined and node_full_version is undefined

- name: Check Node.js tarball exists on nodejs.org
  uri:
    url: "https://nodejs.org/dist/v{{ node_full_version }}/node-v{{ node_full_version }}-linux-{{ architecture }}.tar.gz"
    method: HEAD
    return_content: no
    status_code: 200
  register: tarball_check
  failed_when: false
  when: node_full_version is defined

- name: Fail early if requested node_full_version is not published
  fail:
    msg: "Node.js v{{ node_full_version }} for architecture '{{ architecture }}' not found on nodejs.org. Use a valid version or set node_major_version to pick the latest patch release."
  when: node_full_version is defined and (tarball_check is not defined or tarball_check.status != 200)

- name: Download Node.js tarball
  get_url:
    url: "https://nodejs.org/dist/v{{ node_full_version }}/node-v{{ node_full_version }}-linux-{{ architecture }}.tar.gz"
    dest: "/tmp/node-v{{ node_full_version }}-linux-{{ architecture }}.tar.gz"
    mode: '0644'
  when: node_full_version is defined

- name: Extract Node.js tarball
  unarchive:
    src: "/tmp/node-v{{ node_full_version }}-linux-{{ architecture }}.tar.gz"
    dest: /usr/local
    remote_src: no
    list_files: yes
    mode: u=rwx,g=rx,o=rx
  when: node_full_version is defined
  register: archive_contents

- name: Store node path
  set_fact:
    node_location: "/usr/local/node-v{{ node_full_version }}-linux-{{ architecture }}/bin"
  when: node_full_version is defined

- name: Add node symlink in /usr/bin
  file:
    src: "{{ node_location }}/node"
    dest: /usr/bin/node
    state: link
    force: yes
    mode: u=rwx,g=rx,o=rx
  when: node_full_version is defined

- name: Add consistent symlink to node binaries
  file:
    src: "{{ node_location }}"
    dest: /usr/local/node
    state: link
    force: yes
    mode: u=rwx,g=rx,o=rx
  when: node_full_version is defined

- name: Install npm packages
  npm:
    name: "{{ item }}"
    global: yes
  with_items: "{{ packages|default([]) }}"
  environment:
    PATH: "/usr/local/node:{{ lookup('env', 'PATH') }}"
  when: packages is defined and node_full_version is defined