---

- set_fact:
    airflow_logs_folder: "{{ airflow_logs_folder_nfs }}"
  when: nfs_mount_enabled|bool

- set_fact:
    airflow_logs_folder: "{{ airflow_logs_folder_local }}"
  when: not nfs_mount_enabled

- name: Airflow | Ensure Airflow group
  group:
    name: "{{ airflow_group }}"

- name: Airflow | Ensure Airflow user
  user:
    name: "{{ airflow_user }}"
    group: "{{ airflow_group }}"
    shell: /bin/bash

- name: Airflow | Installing dependencies
  yum:
    pkg: "{{ airflow_required_libs }}"
    state: present

- name: Airflow | pip installs
  pip:
    name: ['attrs', 'botocore', 'boto3', 'six', 'gunicorn', 'numpy', 'Werkzeug==0.16.1', 'flask_oauthlib']
    state: latest
    virtualenv: "{{ airflow_virtualenv_folder }}/"
    virtualenv_python: "{{ airflow_python_path }}"

- name: "Airflow | Installing Airflow {{ airflow_version }}"
  pip:
    name: apache-airflow
    version: "{{ airflow_version }}"
    virtualenv: "{{ airflow_virtualenv_folder }}"
    virtualenv_python: "{{ airflow_python_path }}"
  environment:
    SLUGIFY_USES_TEXT_UNIDECODE: "yes"
  register: airflow_install

- name: Airflow | Installing Airflow Extra Packages
  pip:
    name: apache-airflow[{{ airflow_extra_packages | join(', ') }}]
    version: "{{ airflow_version }}"
    virtualenv: "{{ airflow_virtualenv_folder }}/"
    virtualenv_python: "{{ airflow_python_path }}"

- name: Patch Airflow Logging -- Remove in 1.10.8+
  patch:
    basedir: "{{ airflow_virtualenv_folder }}/lib/python3.6/site-packages/"
    src: patches/AIRFLOW-1916-dont-duplicate-logs.diff
    strip: 1

- name: Airflow | ensure psycopg2 is absent (deprecated, superseded with psycopg2-binary)
  pip:
    name: ['psycopg2']
    state: absent
    virtualenv: "{{ airflow_virtualenv_folder }}/"
    virtualenv_python: "{{ airflow_python_path }}"

- name: Airflow | overriding psycopg2 with psycopg2-binary
  pip:
    name: ['psycopg2-binary']
    state: latest
    virtualenv: "{{ airflow_virtualenv_folder }}/"
    virtualenv_python: "{{ airflow_python_path }}"

- name: Airflow | overriding requests-oauthlib and oauthlib version to fix apache-airflow[gcp] compatibility
  pip:
    name: ['requests-oauthlib==0.8.0', 'oauthlib==2.0.6']
    state: forcereinstall
    virtualenv: "{{ airflow_virtualenv_folder }}/"
    virtualenv_python: "{{ airflow_python_path }}"

- name: "Airflow | ensuring {{ airflow_virtualenv_folder }}"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ airflow_user }}"
    group: "{{ airflow_group }}"
  with_items:
    - "{{ airflow_virtualenv_folder }}/"

- name: Airflow | Create path for Airflow home
  file:
    path: "{{ airflow_home }}"
    state: directory
    owner: "{{ airflow_user }}"
    group: "{{ airflow_group }}"

- name: Airflow | airflow extra directories
  file:
    path: "{{ item }}"
    owner: "{{ airflow_user }}"
    group: "{{ airflow_group }}"
    state: directory
    recurse: True
  with_items:
    - '/run/airflow'
    - "{{ airflow_logs_folder }}"
    - "{{ airflow_child_process_log_folder }}"
    - "{{ airflow_dags_folder }}"
    - "{{ airflow_connections_folder }}"
    - "{{ airflow_plugins_dir }}"
    - "{{ airflow_virtualenv_folder }}"

- name: Airflow | Find remote logging template
  find:
    paths: "{{ airflow_virtualenv_folder }}"
    recurse: True
    patterns: "airflow_local_settings.py"
    file_type: file
    use_regex: no
  register: airflow_logging_template

- name: Airflow | Install remote logging template
  copy:
    src: "{{ airflow_logging_template.files[0].path }}"
    dest: "{{ airflow_plugins_dir }}"
    mode: 0644
    owner: "{{ airflow_user }}"
    group: "{{ airflow_group }}"
  when: airflow_remote_logging|bool
