[Unit]
Description=OAuth2 proxy
After=syslog.target

[Service]
EnvironmentFile=-/etc/default/oauth2-proxy
User=oauth2-proxy
Group=oauth2-proxy
Type=simple
ExecStart=/opt/oauth2_proxy/oauth2_proxy $OPTS
KillSignal=SIGINT
Restart=on-failure
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
