@(images: Iterable[BaseImage])
@layout("AMIgo"){

  <h1>Base images</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
      <a class="btn btn-primary" href="@routes.BaseImageController.newBaseImage">Create new base image</a>
    </div>
  </div>

  <p>Click on a row for more details.</p>

  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
    </thead>
    <tbody>
    @for(image <- images) {
      <tr data-href="@routes.BaseImageController.showBaseImage(image.id)">
        <td>@image.id</td>
        <td>@image.description</td>
      </tr>
    }
    </tbody>
  </table>

}
