@import views.html.helper.CSRF
@(baseImageToDelete: BaseImage, usages: Seq[Recipe])(implicit request: RequestHeader)
@simpleLayout("AMIgo"){

    @if(usages.isEmpty) {
        <h1>Really delete @baseImageToDelete.id?</h1>

        <div class="panel panel-default">
            <div class="panel-heading">Confirm delete</div>
            <div class="panel-body">
                @helper.form(routes.BaseImageController.deleteBaseImage(baseImageToDelete.id)) {
                    @CSRF.formField
                    <button class="post btn btn-danger">Delete</button>
                }
            </div>
        </div>
    } else {
        <h1>Recipe @baseImageToDelete.id is still used by recipes</h1>

        <div class="panel panel-default">
            <div class="panel-heading">Can't be deleted</div>
            <div class="panel-body">
                This base image is used by @usages.length recipes and cannot be deleted. You can review the recipes <a href="@routes.BaseImageController.showBaseImage(baseImageToDelete.id)">here</a>.
            </div>
        </div>
    }

}