@import data.Roles
@(image: BaseImage, form: Form[_], availableRoles: Seq[RoleSummary])(implicit messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@simpleLayout("AMIgo"){

  @b3.form(routes.BaseImageController.updateBaseImage(image.id)) {
    @b3.static("ID"){@image.id.value}
    @b3.text( form("amiId"), '_label -> "AMI ID", 'placeholder -> "ami-a1b2c3d4" )
    @b3.select( form("linuxDist"), models.LinuxDist.all.toList.map{ case (k,v) => k -> v.name }, '_label -> "Linux Distribution" )
    @b3.textarea( form("description"), '_label -> "Description" )

    <div class="form-group">
      <label class="control-label col-md-2" for="builtin-roles">Builtin roles</label>
      <div class="col-md-10" id="builtin-roles">
        @for(role <- availableRoles.map(_.roleId)) {
          <div class="checkbox">
            @if(image.builtinRoles.exists(_.roleId == role)) {
              <div>
                <label for="role-@role" class="role-font">
                  <input class="show-role-variables" type="checkbox" id="role-@role" name="roles" data-role="@role" value="@role" checked>
                  @role
                  <ul class="list-inline dependency-list">
                    @views.html.fragments.inlineDependencyList(Roles.transitiveDependencies(availableRoles, role).dependencies)
                  </ul>
                </label>
              </div>
              <div>
                <input type="text" class="form-control" id="role-@role-variables" name="role-@role-variables"
                       value="@image.builtinRoles.find(_.roleId == role).map(_.variablesToFormInputText)"
                       placeholder="Custom variables (optional) e.g. foo: bar, baz: wow">
              </div>
            } else {
              <div>
                <label for="role-@role" class="role-font">
                  <input class="show-role-variables" type="checkbox" id="role-@role" name="roles" data-role="@role" value="@role">
                  @role
                  <ul class="list-inline dependency-list">
                    @views.html.fragments.inlineDependencyList(Roles.transitiveDependencies(availableRoles, role).dependencies)
                  </ul>
                </label>
              </div>
              <div>
                <input type="text" class="form-control" style="visibility:hidden" id="role-@role-variables" name="role-@role-variables" placeholder="Custom variables (optional) e.g. foo: bar, baz: wow">
              </div>
            }
          </div>
        }
      </div>
    </div>

    @b3.submit('class -> "btn btn-primary"){ Save }
  }

}
