@(recipe: Recipe, form: Form[_], availableBaseImages: Seq[BaseImage], availableRoles: Seq[RoleId])(implicit messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@simpleLayout("AMIgo"){

  @b3.form(routes.RecipeController.updateRecipe(recipe.id)) {
    @b3.static("ID"){@recipe.id.value}

    @b3.textarea( form("description"), '_label -> "Description" )

    @b3.text( form("diskSize"), '_label -> "Disk Size" )

    @b3.text( form("bakeSchedule"), '_label -> "Bake schedule", 'placeholder -> "e.g. \"0 0 3 * * ?\" to run every night at 3am" )
    <div class="col-md-offset-2">
      <span class="help-block">This should be a weird Quartz cron expression (<a target="_blank" href="http://www.quartz-scheduler.org/documentation/quartz-2.2.x/tutorials/crontrigger.html">docs</a>) (<a href="http://www.freeformatter.com/cron-expression-generator-quartz.html">online evaluator</a>)</span>
    </div>

    @b3.text( form("encryptFor"), '_label -> "Request encrypted copy", 'placeholder -> "optional comma separated list of AWS account numbers" )

    @b3.select( form("baseImageId"), availableBaseImages.map(_.id.value).zip(availableBaseImages.map(_.id.value)), '_label -> "Base image" )

    <div class="form-group">
      <label class="control-label col-md-2" for="builtin-roles">Roles</label>
      <div class="col-md-10" id="builtin-roles">
        @for(role <- availableRoles) {
          <div class="checkbox">
            @if(recipe.roles.exists(_.roleId == role)) {
              <div>
                <label for="role-@role">
                  <input class="show-role-variables" type="checkbox" id="role-@role" name="roles" data-role="@role" value="@role" checked> @role
                </label>
              </div>
              <div>
                <input type="text" class="form-control" id="role-@role-variables" name="role-@role-variables"
                       value="@recipe.roles.find(_.roleId == role).map(_.variablesToFormInputText)"
                       placeholder="Custom variables (optional) e.g. foo: bar, baz: wow">
              </div>
            } else {
              <div>
                <label for="role-@role">
                  <input class="show-role-variables" type="checkbox" id="role-@role" name="roles" data-role="@role" value="@role"> @role
                </label>
              </div>
              <div>
                <input type="text" class="form-control" style="visibility:hidden" id="role-@role-variables" name="role-@role-variables" placeholder="Custom variables (optional) e.g. foo: bar, baz: wow">
              </div>
            }
          </div>
        }
      </div>
    </div>

    @b3.submit('class -> "btn btn-primary"){ Save }
  }

}
