@import data.Roles
@(recipe: Recipe, form: Form[_], availableBaseImages: Seq[BaseImage], availableRoles: Seq[RoleSummary])(implicit messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@simpleLayout("AMIgo"){

  @b3.form(routes.RecipeController.updateRecipe(recipe.id)) {
    @b3.static("ID"){@recipe.id.value}

    @b3.textarea( form("description"), '_label -> "Description" )

    @b3.text( form("bakeSchedule"), '_label -> "Bake schedule", 'placeholder -> "e.g. \"0 0 3 * * ?\" to run every night at 3am" )
    <div class="col-md-offset-2">
      <span class="help-block">This should be a weird Quartz cron expression (<a target="_blank" href="http://www.quartz-scheduler.org/documentation/quartz-2.2.x/tutorials/crontrigger.html">docs</a>)</span>
    </div>

    @b3.select( form("baseImageId"), availableBaseImages.map(_.id.value).zip(availableBaseImages.map(_.id.value)), '_label -> "Base image" )

    <div class="form-group">
      <label class="control-label col-md-2" for="builtin-roles">Roles</label>
      <div class="col-md-10" id="builtin-roles">
        @for(roleId <- availableRoles.map(_.roleId)) {
          <div class="checkbox">
            @if(recipe.roles.exists(_.roleId == roleId)) {
                  <label for="role-@roleId">
                    <input class="show-role-variables" type="checkbox" id="role-@roleId" name="roles" data-role="@roleId" value="@roleId" checked>
                    @roleId
                    <ul class="list-inline dependency-list">
                        @views.html.fragments.inlineDependencyList(Roles.transitiveDependencies(availableRoles, roleId).dependencies)
                    </ul>
                  </label>
              <div>
                <input type="text" class="form-control" id="role-@roleId-variables" name="role-@roleId-variables"
                       value="@recipe.roles.find(_.roleId == roleId).map(_.variablesToFormInputText)"
                       placeholder="Custom variables (optional) e.g. foo: bar, baz: wow">
              </div>
            } else {
              <div>

                <label for="role-@roleId">
                    <input class="show-role-variables" type="checkbox" id="role-@roleId" name="roles" data-role="@roleId" value="@roleId">
                    @roleId
                    <ul class="list-inline dependency-list">
                        @views.html.fragments.inlineDependencyList(Roles.transitiveDependencies(availableRoles, roleId).dependencies)
                    </ul>
                </label>
              </div>
              <div>
                <input type="text" class="form-control" style="visibility:hidden" id="role-@roleId-variables" name="role-@roleId-variables" placeholder="Custom variables (optional) e.g. foo: bar, baz: wow">
              </div>
            }
          </div>
        }
      </div>
    </div>

    @b3.submit('class -> "btn btn-primary"){ Save }
  }

}
