@simpleLayout("AMIgo"){

  <div class="hola">

    <h1>¡Hola AMIgo!</h1>

    <img src="@routes.Assets.versioned("images/sombrero.png")" width="200" height="200">

    <p>AMIgo is a self-serve AMI bakery.</p>

    <p>To get started, take a look at the available <em><a href="@routes.BaseImageController.listBaseImages">base images</a></em> and <em><a href="@routes.RoleController.listRoles">roles</a></em>.</p>

    <p>A <em>base image</em> and one or more <em>roles</em> are combined to make a <em>recipe</em>.</p>

    <p>Take a look at the available <em><a href="@routes.RecipeController.listRecipes">recipes</a></em> or <a href="@routes.RecipeController.newRecipe">create a new one</a>.</p>
  </div>

}
