@(form: Form[_], availableRoles: Seq[RoleId])(implicit messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@simpleLayout("AMIgo"){

  @b3.form(routes.BaseImageController.createBaseImage) {
    @b3.text(form("id"), '_label -> "ID", 'placeholder -> "my-lovely-image" )
    @b3.text( form("amiId"), '_label -> "AMI ID", 'placeholder -> "ami-a1b2c3d4" )
    @b3.select( form("linuxDist"), models.LinuxDist.all.toList.map{ case (k,v) => k -> v.name }, '_label -> "Linux Distribution" )
    @b3.textarea( form("description"), '_label -> "Description" )
    @b3.date(form("eolDate"), '_label-> "End of Life Date")
    <p>(Find Ubuntu support info <a href="https://wiki.ubuntu.com/Releases">here</a></p>

    <div class="form-group">
      <label class="control-label col-md-2" for="builtin-roles">Builtin roles</label>
      <div class="col-md-10" id="builtin-roles">
        @for(role <- availableRoles) {
          <div class="checkbox">
            <div>
              <label for="role-@role">
                <input class="show-role-variables" type="checkbox" id="role-@role" name="roles" data-role="@role" value="@role"> @role
              </label>
            </div>
            <div>
              <input type="text" class="form-control" style="visibility:hidden" id="role-@role-variables" name="role-@role-variables" placeholder="Custom variables (optional) e.g. foo: bar, baz: wow">
            </div>
          </div>
        }
      </div>
    </div>

    @b3.submit('class -> "btn btn-primary"){ Save }
  }

}
