@(recipes: Iterable[Recipe])
@layout("AMIgo"){

  <h1>Recipes</h1>

  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Base image</th>
      <th>Roles</th>
    </thead>
    <tbody>
    @for(recipe <- recipes) {
      <tr>
        <td>@recipe.id.value</td>
        <td>@recipe.description</td>
        <td>@recipe.baseImage.id.value (TODO link)</td>
        <td>
          <ul>
            @for(role <- recipe.roles) {
              <li>@role.roleId.value (TODO link)</li>
            }
          </ul>
        </td>
      </tr>
    }
    </tbody>
  </table>

}