@(
        usedRecipes: Iterable[Recipe],
        unusedRecipes: Iterable[Recipe],
        usages: Map[Recipe, prism.RecipeUsage]
)
@simpleLayout("AMIgo"){

  <h1>Recipes</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
      <a class="btn btn-primary" href="@routes.RecipeController.newRecipe">Create new recipe</a>
    </div>
  </div>

  <p>Click on a row for more details.</p>

  @fragments.recipeTable("Recipes in use", usedRecipes, usages)
  @fragments.recipeTable("Unused recipes", unusedRecipes, usages)

}