@import data.Roles
@(image: BaseImage, allRoles: Seq[RoleSummary])(implicit flash: Flash)
@simpleLayout("AMIgo"){

  <h1>@image.id.value</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
      <a class="btn btn-default" href="@routes.BaseImageController.editBaseImage(image.id)">Edit</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Description</div>
    <div class="panel-body">
      <p>Created @fragments.timestamp(image.createdAt, image.createdBy)</p>
      <p>Modified @fragments.timestamp(image.modifiedAt, image.modifiedBy)</p>
      <p>@image.description</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Source AMI</div>
    <div class="panel-body">
      @image.amiId
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Builtin roles</div>
    <div class="panel-body">
    @fragments.customisedRoles(Roles.customisedTransitiveDependency(allRoles, image.builtinRoles))
    </div>
  </div>

}