@(
        recipe: Recipe,
        recentBakes: Iterable[Bake],
        usage: prism.RecipeUsage
)(implicit flash: Flash),
@simpleLayout("AMIgo"){

  <h1>@recipe.id.value</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
      <a data-href="@routes.BakeController.startBaking(recipe.id)" class="post btn btn-primary">Bake!</a>
      <a href="@routes.RecipeController.editRecipe(recipe.id)" class="btn btn-default">Edit</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Description</div>
    <div class="panel-body">
      <p>Created @fragments.timestamp(recipe.createdAt, recipe.createdBy)</p>
      <p>Modified @fragments.timestamp(recipe.modifiedAt, recipe.modifiedBy)</p>
      <p>Build schedule: <code>@recipe.bakeSchedule.map(_.quartzCronExpression).getOrElse("(none)")</code></p>
      <p>@recipe.description</p>
      @if(usage.instances.length + usage.launchConfigurations.length > 0) {
        <p>This recipe is used by @usage.instances.length instance@if(usage.instances.length > 1){s} and @usage.launchConfigurations.length launch configuration@if(usage.launchConfigurations.length > 1){s}</p>
      } else {
        <p><b>This recipe is not used</b></p>
      }
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Base image</div>
    <div class="panel-body">
      <a href="@routes.BaseImageController.showBaseImage(recipe.baseImage.id)">@recipe.baseImage.id</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Roles</div>
    <div class="panel-body">
    @fragments.customisedRoles(recipe.roles)
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Recent bakes</div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <th>Started</th>
          <th>Build number</th>
          <th>Status</th>
          <th>AMI</th>
        </thead>
        <tbody>
        @for(bake <- recentBakes) {
          <tr>
          <td class="has-block-link"><a class="block-link" href="@routes.BakeController.showBake(bake.recipe.id, bake.buildNumber)">@fragments.timestamp(bake.startedAt, bake.startedBy)</a></td>
          <td class="has-block-link"><a class="block-link" href="@routes.BakeController.showBake(bake.recipe.id, bake.buildNumber)">@bake.buildNumber</a></td>
          <td class="has-block-link"><a class="block-link" href="@routes.BakeController.showBake(bake.recipe.id, bake.buildNumber)">@bake.status</a></td>
            <td class="absolute-container has-block-link">
            @if(bake.amiId.isDefined) {
              <a class="block-link" href="@routes.BakeController.showBake(bake.recipe.id, bake.buildNumber)"><code id="ami-id">@bake.amiId</code></a>
              <button class="btn btn-primary btn-xs absolute-right" title="Copy to clipboard" id="copy-button" data-clipboard-target="#ami-id">
                <img src="@routes.Assets.versioned("images/clippy.svg")" width="13" alt="Copy to clipboard">
              </button>
            }
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>

  <script src="@routes.Assets.versioned("javascripts/clipboard.min.js")"></script>
  <script>
          var copy = document.getElementById('copy-button');
          var clipboard = new Clipboard(copy);

          copy.addEventListener('click', function (e) {
            console.log('HAPPENING!')
            e.preventDefault();
          })

          clipboard.on('success', function(e) {
            console.log(e);
            copy.classList.add('btn--success');
          });
          clipboard.on('error', function(e) {
            console.log(e);
            //TODO: Add tooltip
          });

  </script>

  <!-- TODO listen to bake events and update the bakes list accordingly -->
}