@(bake: Bake, bakeLogs: Iterable[BakeLog])
@layout("AMIgo"){

  <h1>@bake.bakeId</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Status</div>
    <div class="panel-body"><span id="status">@bake.status</span></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">AMI</div>
    <div class="panel-body panel-body--flex"><span id="ami-id">@bake.amiId.getOrElse("(none)")</span>
      <button class="btn btn-primary" title="Copy to clipboard" id="copy-button" data-clipboard-target="#ami-id">
        <img src="@routes.Assets.versioned("images/clippy.svg")" width="13" alt="Copy to clipboard">
      </button></div>
  </div>

  <div>
    <label>
      <input id="tail-log" type="checkbox" value="" checked>
      tail -f
    </label>
  </div>

  <div class="well" id="packer-output">
    @for(log <- bakeLogs) {
      <div class="bake-log">[@log.timestamp.toString("YYYY-MM-dd HH:mm:ss")] @log.messageHtml</div>
    }
  </div>

} {
  <script src="@routes.Assets.versioned("javascripts/show-bake.js")" type="text/javascript"></script>
  <script>
    initShowBakePage(
            '@controllers.routes.BakeController.bakeEvents(bake.recipe.id, bake.buildNumber)',
            @{bakeLogs.lastOption.map(_.logNumber).getOrElse(-1)}
    );
  </script>
  <script src="@routes.Assets.versioned("javascripts/clipboard.min.js")"></script>
  <script>
    var copy = document.getElementById('copy-button');
    var clipboard = new Clipboard(copy);

    clipboard.on('success', function(e) {
      console.log(e);
      copy.classList.add('btn--success');
    });
    clipboard.on('error', function(e) {
      console.log(e);
    });

  </script>

}
