---
- name: Add GPG key
  apt_key:
    url: "https://packages.fluentbit.io/fluentbit.key"

- name: Add repository
  ansible.builtin.apt_repository:
    repo: deb https://packages.fluentbit.io/ubuntu/{{ ubuntu_version }} {{ ubuntu_version }} main

- name: Install
  apt:
    name: td-agent-bit={{version}}
    update_cache: yes
